<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"routerLink = "/home">New-Project</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a routerLink = "/home">Home</a></li>
        <li><a routerLink = "about" >AboutUs</a></li>
        <li><a routerLink ="contact" >ContactUS</a></li>
        <li><a routerLink ="creatlead" >Create Lead</a></li>
        <li><a routerLink ="showlead" >Show Lead</a></li>
        
        
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
        